body {
  font-family: sans-serif;
}

input {
  padding: 10px 20px;
 
  font-size: 30px;
  
}

.search-form {
  background-color: blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  display: flex;
    justify-content: center;
}

.gallery {
  display: flex;
  margin-top: 10px;
  display: flex;
  align-items: center;
    flex-wrap: wrap;
  gap: 10px;
    width: 100%;
  
}
.info {
  display: flex;
  justify-content: space-around;
}

.photo-card {
  width: 30%;
  text-align: center;
  border-radius: 15px;
  background-color: whitesmoke
 
}

img {
  width: 100%;
    height: 300px;
    transition: transform 400ms ease-out;
}
img:hover {
  transform: scale(1.05);
}

.load-more {
      margin-left: auto;
        margin-right: auto;
        display: flex;
        background-color: blue;
        padding: 15px;
        border-radius: 10px;
        color: white;
}
button.hidden {
  display: none;
}